* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #e8e8e8;
}

body .content {
  max-width: 1190px;
  padding: 160px 0px 137px 0px;
  margin: 0px auto;
}

body .content .top-content {
  padding-bottom: 77px;
}

body .content .top-content .top-content__title {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  color: #939da1;
}

body .content .top-content .top-content__text {
  font-family: "Times New Roman", Times, serif;
  font-size: 36px;
  line-height: 50px;
  color: #273d46;
  text-align: center;
}

body .content .image-content {
  padding-bottom: 97px;
  text-align: center;
}

body .content .image-content img {
  background-color: #ffffff;
  padding: 10px;
  width: 821px;
  height: 541px;
}

body .content .bottom-content {
  padding: 0px 220px 0px 220px;
}

body .content .bottom-content .bottom-content__text {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  line-height: 40px;
  color: #273d46;
}

body .content .bottom-content .bottom-content__text p {
  padding-bottom: 40px;
}

body .content .bottom-content .bottom-content__ul-list {
  padding-bottom: 60px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body .content .bottom-content .bottom-content__ul-list li {
  font-size: 20px;
  margin-bottom: 10px;
}

body .content .bottom-content .bottom-content__ul-list li::before {
  content: url("../../img/icons/check.png");
  margin: 0px 8px 0px 0px;
}

body .content .bottom-content .bottom-content__ul-list li:first-child {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  color: #273d46;
}

body .content .bottom-content .bottom-content__ul-list li:nth-child(2) {
  font-style: italic;
  color: #80b7b3;
}

body .content .bottom-content .bottom-content__ul-list li:nth-child(3) {
  font-weight: 700;
  color: #273d46;
}

body .content .bottom-content .bottom-content__ul-list li:last-child {
  text-decoration: line-through;
  color: #afb6b9;
}

body .content .bottom-content__button {
  border-radius: 15px;
  text-transform: uppercase;
  background-color: #80b7b3;
  width: 200px;
  padding: 0 30px;
  line-height: 40px;
  display: inline-block;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 0.2em;
}

body .content .bottom-content__button span {
  color: #ffffff;
  background: url("../../img/icons/arrow.svg");
}
